<p style="font-weight: bolder; text-align: center; font-size: xx-large;"><u>O nama:</u></p>

<br>
<br>

<p style="color:rgb(0, 0, 0); text-align: center; font-size: larger;">Dugogodisnje iskustvo u grooming-u i velika ljubav prema svim cupavim clanovima porodice cini da svaki naš dugodlaki klijent uvek uspe da nagovori svog vlasnika da ga ponovo dovede bas kod nas. 

    Nas salon za sredjivanje kucnih ljubimaca vec dugi niz godina posluje u Beogradu i sa puno uspeha nabaci osmeh na lice kako ljubimcu, tako i njegovom vlasniku.
    
    Nas tim edukovanih groomera ce se pobrinuti da iz naseg Grooming salona vasi ljubimci izadju mirisljavi, lepi i veseli, sto bi se kod pasa reklo - masuci repom.
    
    Ne verujete nam na rec, pozivamo vas da dodjete i proverite sta se po kraju a i šire govori o NAMA.<br><br><br>
    LogIn kao Korisnik (mogucnost razgledanja) 
   
     <a class="btn btn-warning btn-block" [routerLink]="['/login']">Korisnik LogIn</a>
     <br><br>
    LogIn kao Vlasnik (mogucnost podesavanja)
   
     <a class="btn btn-warning btn-block" [routerLink]="['/login']">Vlasnik LogIn</a>
</p>
