<div id="menu">

   <div style="margin-right: auto; margin-left: 275px; width: 800px;">
      <ul>
         <li><a href="termini.html">TERMINI</a></li> &nbsp; &nbsp;
         <li><a href="racuni.html">RACUNI</a></li>
         <li><a href="izvestaji.html">IZVESTAJI</a></li> &nbsp; &nbsp;
         <li><a href="zaposleni.html">ZAPOSLENI</a></li>
         <li><a href="prihodi.html">PRIHODI</a></li> &nbsp; &nbsp;
         <li><a href="rashodi.html">RASHODI</a></li>
         <li><a href="materijali.html">MATERIJALI</a></li> &nbsp; &nbsp;
         <li><a href="ugovori.html">UGOVORI</a></li>
         <li><a href="marketing.html">MARKETING</a></li> &nbsp; &nbsp;
         <li><a href="crnalista.html">CRNA LISTA</a></li>
      </ul>
   </div>

</div>