<p style="font-weight: bolder; text-align: center; font-size: xx-large;"><u>Kontakt:</u></p>

<p style="color:rgb(0, 0, 0); text-align: center; font-size: larger;">

<br>
<br>
Salon za sredjivanje kucnih ljubimaca
 <a class="btn btn-warning btn-block" href="http://salonzakuce.com" role="button">Posetite sajt</a>
 <br> Cara Dusana 26
 <br> Beograd, Stari grad
 <a class="btn btn-warning btn-block" href="https://goo.gl/maps/2HT5miyn6DPvA2719" role="button">Kako do nas?</a>
 <br> 0601234567
 <a class="btn btn-warning btn-block" href="#" role="button">Pozovite nas</a>

</p>